SERVICE_NAME=resilience-otel-env
RUN_DURATION=60s
LOOP_DELAY=250ms

RES_CB_NAME=env-cb
RES_CB_SLIDING_WINDOW_TYPE=TIME_BASED
RES_CB_SLIDING_WINDOW_SIZE=20
RES_CB_MINIMUM_NUMBER_OF_CALLS=10
RES_CB_FAILURE_RATE_THRESHOLD=50
RES_CB_SLOW_CALL_RATE_THRESHOLD=80
RES_CB_SLOW_CALL_DURATION_THRESHOLD=500ms
RES_CB_PERMITTED_CALLS_HALF_OPEN=5
RES_CB_WAIT_DURATION_OPEN_STATE=15s
RES_CB_AUTO_TRANSITION_OPEN_TO_HALF_OPEN=true

RES_RETRY_NAME=env-retry
RES_RETRY_MAX_ATTEMPTS=3
RES_RETRY_WAIT_DURATION=200ms
RES_RETRY_BACKOFF_MULTIPLIER=2.0
RES_RETRY_MAX_INTERVAL=2s

RES_BH_NAME=env-bulkhead
RES_BH_MAX_CONCURRENT_CALLS=50
RES_BH_MAX_WAIT_DURATION=25ms

RES_RL_NAME=env-rate-limiter
RES_RL_LIMIT_FOR_PERIOD=100
RES_RL_LIMIT_REFRESH_PERIOD=1s
RES_RL_TIMEOUT_DURATION=25ms

OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
OTEL_EXPORTER_OTLP_INSECURE=true
RESILIENCE_OTEL_METRICS_PREFIX=resilience.demo
